body, html{
 font-family: Arial, Helvetica, sans-serif, Verdana;
 font-size: 12px;
}

a, a:visited, a:link{
  text-decoration: none;
  color: black;
}

/* Menu */

div#menu {
 margin-left: 10px;
 height: 30px;
 width: 686px;
}

div#menu ul {
 margin: 0px;
 padding: 0px;
 font-size: 14px;
 font-weight: bold;
 line-height: 29px;
 white-space: nowrap;
}

div#menu li {
 list-style-type: none;
 display: inline;
}

div#menu li a {
 text-decoration: none;
 padding: 6px;
}

div#menu li a span{
 margin-right: 2px; 
}

div#menu li a .even{
 color: #767676;
}

.link_hover.focused{
 background-color: #009DEA;
}

