body, html{
 font-family: Arial, Helvetica, sans-serif, Verdana;
 font-size: 12px;
}

a, a:visited, a:link{
  text-decoration: none;
  color: black;
}

li{
 list-style-type: none;
}

/* Menu */

div#menu {
 margin-left: 10px;
 height: 30px;
 width: 686px;
}

div#menu ul {
 margin: 0px;
 padding: 0px;
 font-size: 14px;
 font-weight: bold;
 line-height: 29px;
 white-space: nowrap;
}

div#menu li {
 display: inline;
}

div#menu li a {
 text-decoration: none;
 padding: 6px;
}

div#menu li a .even, .odd{
 margin-left: 5px;
}

div#menu li a span{
 margin-right: 1px; 
}

div#menu li a .even{
 color: #767676;
}

.link_hover{
 width:4px;
 position: absolute;
 z-index: 16;
}

.link_hover.focused{ 
 border-left: 4px solid #009DEA;
 line-height: 16px;
 margin-top: 7px; 
}

/* Tab Menu */

#tab_menu{
 position: absolute:
 margin-left: -20px;
}

.tab_header a{
 text-decoration: none;
 color: black;
 border:1px solid black;
 padding: 2px 3px;
 display: block;
}

.tab_header{
 margin-bottom: 6px;
 text-align: center;
}


/* Specific Section Tab Menus */

.tab_header.the_program a{
  width: 135px;
}

