<div class='important_info'>
 <%= "<a href='#{@content_block.url}'>" unless @content_block.url.blank? %>
 <div class='wrapper'>
  <h3><%= 
  out = ""
  @content_block.title.split(/\s/).each do |partial|
    out << "<span class='#{cycle("odd", "even")}'>#{partial.upcase}</span>"
  end
out
 %></h3>
  <div class='content'>
   <%= @content_block.text %>    
  </div>
 </div>
 <%= "</a>" unless @content_block.url.blank? %>
</div>

